@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swa');

@import "tailwindcss";

@theme {
  --color-obsidian: #0B0B0C;
  --color-midnight: #161618;
  --color-stellar: #311B92;
  --color-electric: #00E5FF;
  --color-frost: #F8FAFC;
  --color-slate-mist: #94A3B8;
  --color-amber: #F59E0B;
}

@layer base {
  body {
    background-color: #0B0B0C;
    color: #F8FAFC;
  }
}